/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.333333%;
}

.col-half {
    width: 50%;
}

.input-boder-style {
    border: 1px solid #ccc;
}

.black-btn {
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 11px 17px;
    text-decoration: none;
    display: inline-block;
}

.gray-fonts {
    font-size: 15px;
    opacity: 0.6;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* 
1.Ngoài vào trong
2.Trên xuống dưới
3.Tổng quan đến chi tiết
 */

/* 
1.Vị trí
2.Kích thước ( widh,height )
3.Màu sắc
4.Kiểu dáng 
*/
#main {
overflow: hidden;
}

#header {
height: 46px;
background-color: black;
top: 0;
left: 0;
right: 0;
position: fixed;
z-index: 1;
}

#nav {
 display: inline-block;
}

#nav > li {
    display: inline-block;
}
#nav li {
   position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav .subnav {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#nav li a {
    text-decoration: none;
    line-height: 47px;
    padding: 0 24px;
    display: block;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-icon {
    font-size: 20px;
    line-height: 47px;
    color: #fff;
}

.nav-arrow-down {
    font-size: 14px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://thinhnguyen1211.github.io/img/slider/slider1.jpg) top center / cover no-repeat; 
}

#slider .text-content {
    position: absolute;
    color: #fff;
    text-align: center;
    bottom: 47px;
    width: 100%;
}

#slider .text-heading {
   font-weight: 300;
   font-size: 24px;
}

#slider .text-discription {
    margin-top: 25px;
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 10px 0;
}

#content .section-sub-heading {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.4;
}

#content .about-text {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

#content .members-name {
    font-size: 15px;
    margin: 15px;
}

#content .members-list {
    margin-top: 48px;
}

#content .members-img {
    width: 154px;
    border-radius: 4px;
}

#content .tour-section {
    background: #000;
}

.tickets-list {
    background: #fff;
    list-style-type: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background: #f44336;
    margin-left: 16px;
    color: #fff;
    padding: 3px 8px;
}

.tickets-list .quantity {
    float: right;
    background: #000;
    margin-right: 16px;
    padding: 3px 8px;
    border-radius: 50%;
    color: #fff;
    margin-top: -3px;
}

.places-list {
    margin-top: 32px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.5;
}

.places-body {
    background: #fff;
    padding: 16px;
    font-size: 15px;
}

.places-heading{
    font-weight: 600;
}

.places-time {
    margin: 15px 0px;
    opacity: 0.60;
}

.places-discription {
    margin: 15px 0px;
    line-height: 1.4;
}

.black-btn:hover {
    background: #ccc;
    color: #000;
}

.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100%-32px);
    position: relative;
    animation: modalmotion ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    padding: 12px;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    background: #ccc;
    color: #000;
}

.modal-body {
    padding: 16px;  
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    margin-bottom: 24px;
    width: 100% ;
    font-size: 15px;
    padding: 11px;
    border: 1px solid #ccc ;
}

#buy-tickets {
    text-transform: uppercase;
    background: #009688;
    border-style: none;
    padding: 18px;
    width: 100%;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


@keyframes modalmotion {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-control {
    padding: 11px;
    display: block;
    width: 100%;
}

.send-btn {
    margin: 16px 0;
    float: right;
}

.contact-content {
    margin-top: 48px;
}

.row::after {
    content:"" ;
    display: block;
    clear: both;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-form {
    font-size: 15px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
/* Map section */

.map-section img {
    width: 100%;
}

#footer {
    margin: 64px 16px;
}

.apps-linking {
    
    text-align: center;
    font-size: 15px;
}

.sources {
    text-align: center;
    font-size: 15px;
}

.socials-list {
    font-size: 25px;
    display: block;
}
.socials-list a {
    color: #000;
    text-decoration: none;
}

.copyright {
    margin: 15px 0;
    display: block;
}

.copyright a {
    color: #000;
}

.socials-list a:hover {
    margin: 15px;
    transition: 0.7s;
}
